{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django CRUD App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nihil iste quibusdam deserunt iure harum dignissimos alias doloribus minima dolorum sed odit voluptatum autem modi dicta? Totam molestiae voluptate enim doloribus atque itaque dolor veritatis fuga ex perferendis quia, quaerat perspiciatis reiciendis asperiores laudantium dolore quod accusantium laboriosam? Blanditiis velit esse voluptate explicabo eius possimus corporis odit, quisquam necessitatibus minima inventore, distinctio harum dignissimos, sequi ducimus sapiente voluptas? Ipsam laudantium illo atque dolores. Natus, voluptas? Unde nisi corrupti eaque, impedit fuga officia magnam. Repellendus ducimus, minima doloremque animi quasi voluptates facilis veniam porro sequi nesciunt, cumque est? Magni, laboriosam saepe.</p>
        <div class="text-center">
            <a class="btn btn-dark" href="/signin/"> Signin</a>
            <a class="btn btn-secondary" href="/signup/"> Signup</a>
        </div>
    </section>
</main>

{% endblock %}
